<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a href="/admin/articles/new" class="btn btn-primary">Criar Novo Artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>Ações</td>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarExclusao(event, form) {
        event.preventDefault();
        var decisao = confirm("Você deseja excluir esta categoria?");
        if(decisao) {
            form.submit();
        }
    }
</script>